.loginContainer {
    display: flexbox;
    align-items: center;
    margin: 20px auto;
    padding: 30px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(227, 210, 210);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

input {
    padding: 12px;
    margin: 20px auto;
    width: 50%;
    display: block;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

th {
    background-color: #3498db;
    font-style: italic;
    color: #fff;
}

td,
th {
    border: 1px solid;
    height: 20px;
    min-width: 100px;
    padding: 8px;
    font-weight: bold;
}

.even {
    background-color: rgb(250, 219, 181);
}

.odd {
    background-color: antiquewhite;
}